.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms_actions {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20%;
}

.tittle_register{
    font-size: 10rem;
    color: white;
    padding: 0%;
    margin: 0%;
}

.subtitle{
    font-size: 5rem;
    color: white;
    padding: 0%;
    margin: 0%;
}

p{
    margin: 2%;
    color: hsl(0, 0%, 100%);
    filter: opacity(50%);
}
form label input{
    font-size: 5rem;
}
.backgorundcolor{
    background-color:#42028a ;
}
